files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Commands that will be run on container_commmands
      # Here the container variables will be visible as environment variables.
      npm install --save-dev
      echo "Installation of dev ran"
      `[ -f ./node_modules/.bin/tsc ]`; echo File was found = `echo $?`
      cat ./node_modules/.bin/tsc
      ./node_modules/.bin/tsc

container_commands:
    00_set_up:
        command: "sudo /home/ec2-user/setup.sh"
    01-run-database-migrations:
        command: "./node_modules/.bin/sequelize db:migrate"
        leader_only: true
    02-run-database-seed:
        command: "./node_modules/.bin/sequelize db:seed:all"
        leader_only: true
    03_prune:
        command: "npm  prune"
